*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    height:450px;
    background-color: black;
    width:100px;
    padding:25px;
    
}
.box1{
    width:50px;
    height:50px;
    background-color: blue;
    margin:2px;
    padding:15px;
    color:white;
}
.box2{
    width:50px;
    height:50px;
    background-color: rgb(26, 255, 0);
    margin:2px;
    padding:15px;
    color:white;
}
.box3{
    width:50px;
    height:50px;
    background-color: rgb(11, 218, 254);
    margin:2px;
    padding:15px;
    color:white;
}
.box4{
    width:50px;
    height:50px;
    background-color: rgb(13, 249, 210);
    margin:2px;
    padding:15px;
    color:white;
}
.box5{
    width:50px;
    height:50px;
    background-color: rgb(221, 236, 58);
    margin:2px;
    padding:15px;
    color:white;
}
.box6{
    width:50px;
    height:50px;
    background-color: rgb(61, 61, 87);
    margin:2px;
    padding:15px;
    color:white;
}
.box7{
    width:50px;
    height:50px;
    background-color: rgb(50, 195, 40);
    margin:2px;
    padding:15px;
    color:white;
}
.box8{
    width:50px;
    height:50px;
    background-color: rgb(214, 22, 214);
    margin:2px;
    padding:15px;
    color:white;
}